[Unit]
Description=Serve NDN certificates.
Requires=nfd.service
After=nfd.service

[Service]
Environment=HOME=/var/lib/ndn/nfd
User=ndn
Group=ndn
ExecStart=/bin/sh -c 'cd /var/lib/ndn/serve-certs && /usr/local/bin/ndn6-serve-certs *.ndncert'
Restart=on-failure
ProtectSystem=full
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target
