[Unit]
Description=Serve NDN certificates.
BindsTo=nfd.service
After=nfd.service

[Service]
Environment=HOME=/var/lib/ndn/nfd
User=ndn
Group=ndn
WorkingDirectory=/var/lib/ndn/serve-certs
ExecStart=sh -c 'ndn6-serve-certs *.ndncert'
Restart=on-failure
ProtectSystem=full
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target
